* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Montserrat , sans-serif;
}


body {
    display: flex;
    overflow: hidden;
}


header { 
   display: flex;
}

.header-bar {

    height: calc(100vh - 73px);
    width: 200px;
    background-color: rgb(132, 19, 19);
    display: flex;
    flex-direction: column;
    
}


.header-nav  ul{
    
}

.header-nav ul li{
   
    display: flex;
    padding: 0.5rem;
    
    font-size: 0.8rem;
    
    color: #7e7f84;
    font-weight: bold;
    
    
   
}

.logo-section img {
    padding: 1rem;
    width: 80%;
    padding: 1rem 2rem 1rem 1rem;
    
}



.instal {
    margin-top: auto;
    padding: 1rem;
}

.instal hr{
    margin: 0.5rem 0;
}



main {
    width: 100%;
}

.main-content {
    height: calc(100vh - 73px);
    width: 100%;
    background-color: #141922;
    flex-direction: column;  
    display: flex; 
    overflow-y: auto;
    
}

::-webkit-scrollbar {
    width: 300px;
  }
  

.upgrade-bar {
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    height: 80px;
    width: calc(100% - 200px);
    position: fixed;
    opacity: 0.8;
    

}

.upgrade-bar button {
    margin: 1rem;
    padding: 0.5rem 3rem;
    border-radius: 2rem;
    border: solid white;
    border-width: 1px;
    background-color: #000000;
}


.nav-bar {
    margin-top: 100px;
}

.nav-bar nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0 15rem;
    margin-bottom: 2rem;

   
}

.nav-bar nav ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-right: 0.8rem;
    color: #7e7f84;
    font-weight: bold;
    white-space: nowrap;
    
   
}

.songs-container {
    
}


.recently-played {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
}


.recently-played h2 {
    margin-bottom: 3rem;
    font-weight: 900;
}




.rp-songs {
    display: flex;
    /* justify-content: space-between; */
    
}



.rp-song {

    /* background-color: red;  */
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 245px;
    height: 317px;
  }


    


.rp-song img {
    object-fit: cover;
    width: 245px;
    margin-bottom: 1rem; 
   
}   

.rp-song .song-title {
   
}



.created-for-joe {
    width: 40%;
    padding: 1rem;
}

.created-for-joe h2 {
    margin-bottom: 0.5rem;
    font-weight: 900;
}

.created-for-joe p {
    margin-bottom: 2rem;
}

.cfj-songs {
    display: flex;
    align-items: first baseline;
}

.cfj-song {

    /* background-color: red;  */
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 250px;
    margin-bottom: 1rem; 
   


    
}

.cfj-song img {
   
    object-fit: cover;
    width: 245px;
    margin-bottom: 1rem; 

}  


.popular-artists {
    width: 100%;
    padding: 1rem;
    margin-bottom: 3rem;
}

.popular-artists h2 {
    margin-bottom: 0.5rem;
    font-weight: 900;
}

.popular-artists p {
    margin-bottom: 2rem;
}


.pa-songs {
    display: flex;
    align-items: first baseline;
}

.pa-song {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 250px;
}

.pa-song img {
    object-fit: cover;
    width: 245px;
    margin-bottom: 1rem; 
    border-radius: 50%;
}

.rp-songs, .cfj-songs, .pa-songs {
    
    flex-wrap: wrap;
    
}



footer {
    background-color: #282828;
    height: 73px;
    width: 100vw;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-elements-left {
    padding: 0.5rem;
    display: flex;
    align-items: center;
}


.footer-elements-left img {
    width: 40px;
}

.footer-elements-left p:first-child {

}

.footer-elements-left p:nth-child(2) {
    color: red;

}

.player {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
}

.player-bar {
    display: flex   ;
}


.volume-bar {
    display: flex;
}

@media (max-width: 768px)  {

    .rp-songs {
        display: flex;
        flex-wrap: wrap;
    }

}


@media (max-width: 576px) {
    .header-bar {

        height: calc(100vh - 73px);
        width: 50px;
        background-color: rgb(132, 19, 19)
    }
    
}