* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Montserrat , sans-serif;
}


body {
    display: flex;
    overflow: hidden;
}


header { 
   display: flex;
}

.header-bar {

    height: calc(100vh - 73px);
    width: 200px;
    background-color: #080b12;
    display: flex;
    flex-direction: column;
    
}


.header-nav  ul{
    margin-bottom: 2rem;
}

.header-nav ul li{
   
    display: flex;
    font-size: 0.8rem;
    
    
}

.header-nav ul li:first-child {
    border-left: 4px solid #adff2f;
    
}

.fa-house {
    margin-left: -4px;
}

.header-nav ul li a {
    color: #7e7f84;
    font-weight: bold; 
    text-decoration: none;
    padding: 0.5rem 1rem; 
    font-size: 0.8rem;  
}

.header-nav ul li a i {
    font-size: 1.3rem; 
    color: inherit;
    margin-right: 0.2rem;
    
}

.header-nav ul li:first-child a {
    
}

.playlist h2 {
    padding: 0 1rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.playlist > a {
    text-decoration: none;
    margin-left: 1rem;
    width: 100px;
    display: flex;
    text-align: center;
    text-indent: each-line;
    align-self: first baseline;
    align-items: center;
    text-wrap: nowrap;
    color: #7e7f84;
    font-weight: bold;
    margin-bottom: 1rem;

}

.fa-square-plus {
    font-size: 2.5rem;
    color: #7e7f84;
    margin-right: 0.5rem;
}

.playlist ul li {
    margin-bottom: 0.5rem;
}

.playlist ul li a {
    font-size: 0.8rem;
    color: #7e7f84; 
    text-decoration: none; 
    padding: 0.5rem 1rem; 
    font-weight: bold; 
}

.playlist ul li a i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}


.logo-large {
    padding: 1rem;
    width: 80%;
    padding: 1rem 2rem 1rem 1rem;
    
}

.logo-small {
    display: none;
    
}


.instal {
    display: flex;
    flex-direction: column;  /
    align-items: center;     
    padding: 1rem;
    gap: 10px;
    margin-top: auto;
}

.instal hr{
    margin: 0.2rem 0;
    color: #7e7f84;
}

.instal p:first-child {
    color: #7e7f84;
    font-size: 0.8rem;
}

.instal p:first-child i {
    color: #7e7f84;
}

.instal .user-info i {
    color: #c7c7c7;
    font-size: 1.5rem;
    margin-right: 0.3rem;
    
}

.instal .user-info p {
    color: #c7c7c7;
    font-weight: bold;
    font-size: 0.9rem;
}


.user-info {
    display: flex;
    align-items: center; /
}
.fa-circle-user {
    font-size: 1.5rem; /
}

.instal > p, .user-info > p {
    color: #c7c7c7;
    font-size: 0.9rem;
    margin: 0;
    font-weight: bold;
}




main {
    width: 100%;
}

.main-content {
    height: calc(100vh - 73px);
    width: 100%;
    background-color: #141922;
    flex-direction: column;  
    display: flex; 
    overflow-y: auto;
    
}


.upgrade-bar {
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    height: 80px;
    width: calc(100% - 200px);
    position: fixed;
    opacity: 0.8;
    z-index: 1;

}

.upgrade-bar button {
    margin: 1rem;
    padding: 0.5rem 3rem;
    border-radius: 2rem;
    border: solid white;
    border-width: 1px;
    background-color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

.upgrade-button:hover {
    transform: scale(1.1);
}

.nav-bar {
    margin-top: 100px;
}

.nav-bar nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
    /* padding: 0 15rem; */
    margin-bottom: 2rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.nav-bar nav ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #7e7f84;
    font-weight: bold;
    white-space: nowrap;
    text-decoration: none;
    
   
}

.nav-bar nav ul li a {
    color: inherit;
    text-decoration: none; 
    display: block; 
    padding: 5px 10px; 
}


.songs-container {
    flex-shrink: 1;
}


.songs-container h2{
    font-size: 1.5rem;
    
}

.song-title {
    font-size: 0.9rem;
}

.Subtitle {
    font-size: 0.8rem;
}

.recently-played {
    /* width: calc(100% - 200px); */
} 

.recently-played {
    padding: 1rem;
    margin-bottom: 1rem;
    flex-shrink: 1;
}


.recently-played h2 {
    margin-bottom: 2rem;
    font-weight: 900;
}

.songs p:first-of-type {
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 0.5rem;
}

.song p:nth-of-type(2){
    color:#7e7f84;
    text-align: center;
}


.songs {
    display: flex;
    
}

.song {
    flex: 1 1 auto; 
}

.song {    
    margin: 0.5rem;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    max-width: 250px;
    flex: 1 1;
    width: calc((100% / 6) - 10px);
}
    
.song {
    flex: 1 1 auto; 
    margin: 0.5rem;
    max-width: calc(100% / 6 - 10px);  
    min-width: 150px;
}




.song-img {
    position: relative;
    display: inline-block;
    width: 100%; 
}

.song-img img {
    width: 100%;
    
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
    opacity: 0;
    
}

.song-img:hover .play-icon {
    opacity: 1;
}


.song-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); 
    
}



.song-img:hover::after {
    background: rgba(0, 0, 0, 0.5);
}





.created-for-joe {
    
    padding: 1rem;
}

.created-for-joe h2 {
    margin-bottom: 0.5rem;
    font-weight: 900;
}

.created-for-joe p {
    margin-bottom: 2rem;
}

/* .cfj-songs {
    display: flex;
    align-items: first baseline;
} */

/* .created-for-joe > div:nth-child(3) {
    width: 33.3%;
    height: auto;
} */



.popular-artists {
    width: 100%;
    padding: 1rem;
    margin-bottom: 3rem;
}

.popular-artists h2 {
    margin-bottom: 0.5rem;
    font-weight: 900;
}

.popular-artists p {
    margin-bottom: 2rem;
}

/* .popular-artists > div:nth-child(3) {
    width: 33.3%;
    height: auto;
} */

.popular-artists img {
   border-radius: 50%;
}


footer {
    background-color: #282828;
    height: 73px;
    width: 100vw;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    
}

.footer-elements-left {
    /* padding: 0.5rem; */
    display: flex;
    align-items: center;
}


.footer-elements-left img {
    width: 40px;
    margin: 0 0.5rem;
}

.footer-elements-left i {
    color: #7e7f84;
}


.footer-elements-left p:first-child {
    margin-right: 0.3rem;
    color: #c7c7c7;
    font-weight: bold;
    font-size: 0.8rem;
}

.footer-elements-left p:nth-child(2) {
    color: #7e7f84;
    font-size: 0.8rem;
    margin-right: 2rem;
}

.footer-elements-left i {
    
    margin: 0 0.5rem;
}

.footer-elements-center {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    width: 700px;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}


.buttons {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
}



.buttons i.fa-circle-play {
    font-size: 1.5em;
    align-self: center;
    line-height: 1rem;
    
}

.buttons i.fa-circle-play:hover {
    transform: scale(1.3);
    
}



.player-bar {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    padding: 0 15px; 
    max-width: 900px;
}

.player-bar p {
    font-size: 0.7rem;
    font-weight: bold;
}

.bar {
    height: 5px;
    width: 100%;
    background-color:  #7e7f84;
    align-items: center;
    margin: 0.3rem 1rem;
    display: flex;
    
}

.progress-bar {
    height: 5px;
    width: 25%;
    background-color: #c7c7c7;
    align-items: center;
}

.progress-bar:hover {
    background-color: green;c
    cursor: pointer;
}

.footer-elements-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.volume-bar {
    height: 5px;
    width: 100px;
    background-color: #7e7f84;
    align-items: center;
    margin: 0.3rem 1rem;
    
}




.footer-elements-right i{
    color: #c7c7c7;
}




* a:hover {
    color: white;
  }


ul li a:hover {
    color: white;
}

nav ul li a:hover {
    color: white;
}

* i:hover {
    color: white;
}


@media (max-width: 1024px) {
    .song {
      max-width: calc(100% / 4 - 10px);  
    }
  }





@media (max-width: 768px)  {

    .songs {
        display: flex;
        flex-wrap: wrap;
    }

    .song {
          max-width: calc(100% / 2 - 10px);  
        }
      }



@media (max-width: 576px) {
    .header-bar {

        height: calc(100vh - 73px);
        width: 80px;
        background-color: #0a0d15;
    }
    
    .header-nav ul li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-nav ul li a{
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .header-nav ul li a span{
        display: none;
    }

    .header-nav ul li a i {
        font-size: 1.6rem;
    }   


    .header-nav ul li:first-child {
        border-left: none;
      }

   .playlist {
    display: none;
   }


   .upgrade-bar {
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    height: 80px;
    width: calc(100% - 80px);
    position: fixed;
    opacity: 0.8;
  }

  .logo-large {
    display: none;
  }

  .logo-section {
    display: flex;
    justify-content: center;
  }

  .logo-small {
    display: block;
    width: 40%;
    justify-self: center;
    margin: 1rem;
  }

  .header-nav ul li a i {
    font-size: 1.6rem;
    color: inherit;
    margin-right: 0;
  }

  .instal {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .instal span, hr {
    display: none;
  }

  .instal .user-info i {
    color: #c7c7c7;
    font-size: 1.5rem;
    margin-right: 0;
  }

  .footer-icons {
    display: block;
  }

  div.song-title > p:nth-child(2) {
color: #7e7f84;
  font-size: 0.5rem;
  margin-right: 0;
  }

}